<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="booyah.test">

    <application
        android:name="booyah.test.NFLPresenter"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="booyah.test.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="booyah.test.LoginScreen"></activity>
        <activity android:name="booyah.test.WeekGames" ></activity>
        <activity android:name="booyah.test.WeekResults" ></activity>
        <activity android:name="booyah.test.SeasonResults" ></activity>
        <activity android:name="booyah.test.Instructions" ></activity>

    </application>

</manifest>
